
body{ background-color:rgb(135, 196, 231)}

button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1f8f89;
    border-radius: 6px;
    border: 2px solid #08838be0;
}

button:hover{
    color: #0d5e61;
    background-color: #ffffff; 

}
textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    }

